---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4">
    <h3>
      <a href="https://twitter.com/prakatmodi" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="en" data-show-count="false">
        Follow @prakatmodi
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </h3>
    <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/prakatmodi" data-chrome="noheader nodates nofooter noborders transparent">
      Tweets by prakatmodi
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
