---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
    <h3><a href="https://twitter.com/XDevelopers?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @X</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></h3>
      <a class="twitter-timeline" data-tweet-limit="3" data-link-color="#007bff" href="https://twitter.com/prakatmodi" data-chrome=”noheader” data-chrome="nodate">
        Tweets by Prakat Modi
      </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
